# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.pyc

# Base de datos de Django (si aplica)
db.sqlite3

# Variables de entorno
.env

# VS Code
.vscode/


__pycache__/

*.sqlite3

media/

staticfiles/

